# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [23]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../WeatherPy_database.csv")


# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Conditions
0,0,Ushuaia,AR,-54.8000,-68.3000,46.06,61,75,4.61,broken clouds
1,1,Vardo,NO,70.3705,31.1107,46.38,93,75,28.77,broken clouds
2,2,Erzin,TR,36.9559,36.2000,71.71,80,0,1.14,clear sky
3,3,Port Alfred,ZA,-33.5906,26.8910,62.67,76,100,14.63,overcast clouds
4,4,Hobart,AU,-42.8794,147.3294,57.06,90,75,6.91,moderate rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [24]:
# Prompt the user to enter the minimum temperature criteria
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))


# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [25]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Conditions
9,9,Saint George,US,37.1041,-113.5841,79.43,29,0,1.01,clear sky
12,12,Cizre,TR,37.3272,42.1903,83.95,17,0,3.89,clear sky
15,15,Sur,OM,22.5667,59.5289,82.80,63,70,8.14,broken clouds
21,21,Atuona,PF,-9.8000,-139.0333,76.84,76,69,23.44,broken clouds
23,23,Cairo,EG,30.0626,31.2497,77.76,50,0,11.50,clear sky
25,25,Salalah,OM,17.0151,54.0924,78.64,82,100,3.58,overcast clouds
27,27,Avarua,CK,-21.2078,-159.7750,75.25,64,20,12.66,few clouds
31,31,Ixtapa,MX,20.7000,-105.2000,86.23,72,30,4.00,scattered clouds
36,36,Buala,SB,-8.1450,159.5921,78.78,81,79,5.46,light rain
39,39,Georgetown,MY,5.4112,100.3354,80.53,90,20,1.14,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [26]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Conditions
9,9,Saint George,US,37.1041,-113.5841,79.43,29,0,1.01,clear sky
12,12,Cizre,TR,37.3272,42.1903,83.95,17,0,3.89,clear sky
15,15,Sur,OM,22.5667,59.5289,82.80,63,70,8.14,broken clouds
21,21,Atuona,PF,-9.8000,-139.0333,76.84,76,69,23.44,broken clouds
23,23,Cairo,EG,30.0626,31.2497,77.76,50,0,11.50,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [27]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Conditions", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(5)

            City Country  Max Temp     Conditions      Lat       Lng
9   Saint George      US     79.43      clear sky  37.1041 -113.5841
12         Cizre      TR     83.95      clear sky  37.3272   42.1903
15           Sur      OM     82.80  broken clouds  22.5667   59.5289
21        Atuona      PF     76.84  broken clouds  -9.8000 -139.0333
23         Cairo      EG     77.76      clear sky  30.0626   31.2497

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [28]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(5)

,City,Country,Max Temp,Conditions,Lat,Lng,Hotel Name
9,Saint George,US,79.43,clear sky,37.1041,-113.5841,
12,Cizre,TR,83.95,clear sky,37.3272,42.1903,
15,Sur,OM,82.80,broken clouds,22.5667,59.5289,
21,Atuona,PF,76.84,broken clouds,-9.8000,-139.0333,
23,Cairo,EG,77.76,clear sky,30.0626,31.2497,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [29]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Conditions,Lat,Lng,Hotel Name
9,Saint George,US,79.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
12,Cizre,TR,83.95,clear sky,37.3272,42.1903,Divan Cizre Hotel
15,Sur,OM,82.80,broken clouds,22.5667,59.5289,Sur Plaza Hotel
21,Atuona,PF,76.84,broken clouds,-9.8000,-139.0333,Villa Enata
23,Cairo,EG,77.76,clear sky,30.0626,31.2497,Grand Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [32]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Conditions,Lat,Lng,Hotel Name
9,Saint George,US,79.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
12,Cizre,TR,83.95,clear sky,37.3272,42.1903,Divan Cizre Hotel
15,Sur,OM,82.80,broken clouds,22.5667,59.5289,Sur Plaza Hotel
21,Atuona,PF,76.84,broken clouds,-9.8000,-139.0333,Villa Enata
23,Cairo,EG,77.76,clear sky,30.0626,31.2497,Grand Hotel

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [33]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [34]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Conditions} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [35]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Divan Cizre Hotel</dd>\n<dt>City</dt><dd>Cizre</dd>\n<dt>Country</dt><dd>TR</dd>\n<dt>Current Weather</dt><dd>clear sky and 83.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Hotel</dd>\n<dt>City</dt><dd>Cairo</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>hotel la terminal</dd>\n<dt>City</dt><dd>Ixtapa</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 86.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maringe Lagoon Lodge</dd>\n<dt>City</dt><dd>Buala</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>light rain and 78.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.53 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [36]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(5)

        Lat       Lng
9   37.1041 -113.5841
12  37.3272   42.1903
15  22.5667   59.5289
21  -9.8000 -139.0333
23  30.0626   31.2497

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [38]:
# Add a marker layer for each city to the map. 



# Create a figure to add the Google map as a layer

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# Display the figure containing the map
# YOUR CODE HERE

Figure(layout=FigureLayout(height='420px'))